{% extends 'base.html.twig' %}
{% block title %} Items dashboard {% endblock %}
{% block body %}
    <h1>Items dashboard</h1>
    <a class="btn btn-primary btn-lg btn-block" href="{{ path('item_create') }}" role="button">Add item</a>
    <div>
        <h2>Items that are in stock</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">amount</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items_that_are_in_stock %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('item_edit', {id: item.id}) }}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{{ path('item_delete', {id: item.id}) }}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2>Items that are not in stock</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">amount</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items_that_are_not_in_stock %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('item_edit', {id: item.id}) }}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{{ path('item_delete', {id: item.id}) }}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2>Items that are more than 5</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">amount</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items_that_are_more_than_5 %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('item_edit', {id: item.id}) }}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{{ path('item_delete', {id: item.id}) }}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2>All items</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">amount</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in all_items %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.amount }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('item_edit', {id: item.id}) }}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{{ path('item_delete', {id: item.id}) }}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}